.category {
    color: #ffdddd;
    font-size: 16px;
    margin: 5px;
    text-align: center;

    @media (min-width: 576px) {
        font-size: 20px;
        margin: 8px;
    }
}

.phrase {
    color: #ffdddd;
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
    
    @media (min-width: 992px) {
        font-size: 24px;
    }
}

.word {
    padding-right: 26px;
    
    @media (min-width: 576px) {
        padding-right: 28px;
    }
    @media (min-width: 992px) {
        padding-right: 30px;
    }
}
.word:last-child {
    padding-right: 0;
}