.overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.7;
}

.resultField {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    margin: auto;
    width: 30rem;
    padding: 1rem 1.5rem;
    background-color: #191919;
    border-radius: 20px;
    opacity: 0.9;
    z-index: 1;
}

.gameOverFrame {
    font-size: 45px;
    font-weight: 600;
    padding: 40px;
    text-shadow: 1px 1px #000000;
    text-align: center;
    white-space: pre-line;
}
.win {
    color: #2e8b57;
}
.loose {
    color: #b22222;
}