.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dedede;
    border-radius: 12px;
    color: #dedede;
    font-size: 35px;
    cursor: pointer;
}