.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dedede;
    border-radius: 10px;
    color: #dedede;
    font-size: 25px;
    cursor: pointer; 

    @media (min-width: 576px) {
        border-radius: 12px;
        font-size: 30px;
    }

    @media (min-width: 768px) {
        font-size: 35px;
    }
}

.letterHover:hover {
    color: #191919;
    background-color: #dedede;
    border-color: #000;
}

.correctLetter {
    background-color: #157c00;
    cursor: default;
}

.wrongLetter {
    background-color: #bb0000;
    cursor: default;
}