.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dedede;
    border-radius: 10px;
    color: #dedede;
    font-size: 25px;
    cursor: pointer; 

    @media (min-width: 576px) {
        border-radius: 12px;
        font-size: 30px;
    }

    @media (min-width: 768px) {
        font-size: 35px;
    }
}