.keyboardContainer {
    text-align: center;
}

.changeKeyboardButton {
    color: #191919;
    cursor: pointer;
    height: 40px;
    width: 250px;
    font-size: 14px;
    white-space: nowrap;

    @media (min-width: 576px) {
        height: 40px;
        width: 350px;
        font-size: 20px;
    }
}

.qwertyContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 12px;

    & .qwertyPart1, & .qwertyPart2, & .qwertyPart3, & .latinLetters {
        & .letter {
            font-size: 20px;
        }
        padding: 5px 0px;
        grid-auto-rows: 35px;
        grid-gap: 12px;
        grid-template-columns: repeat(10, 35px);
    }
    & .qwertyPart2 {
        grid-template-columns: repeat(9, 35px);
        padding-right: 15px;
    }
    & .qwertyPart3 {
        grid-template-columns: repeat(7, 35px);
        padding-right: 60px;
        padding-bottom: 15px;
    }
    $ .latinLetters {
        grid-template-columns: repeat(9, 35px);

    }
    @media (min-width: 576px) {
        & .qwertyPart1, & .qwertyPart2, & .qwertyPart3, & .latinLetters {
            & .letter {
                font-size: 25px;
            }
            grid-auto-rows: 43px;
            grid-template-columns: repeat(10, 43px);
        }
        & .qwertyPart2 {
            grid-template-columns: repeat(9, 43px);
        }
        & .qwertyPart3 {
            grid-template-columns: repeat(7, 43px);
            padding-right: 70px;
        }
    }

    @media (min-width: 768px) {
        & .qwertyPart1, & .qwertyPart2, & .qwertyPart3, & .latinLetters {
            & .letter {
                font-size: 30px;
            }
            grid-auto-rows: 50px;
            grid-template-columns: repeat(10, 50px);
        }
        & .qwertyPart2 {
            grid-template-columns: repeat(9, 50px);
        }
        & .qwertyPart3 {
            grid-template-columns: repeat(7, 50px);
        }
    }
}
