:root {
    --query-layout-width: 27px;
}

.keyboardContainer {
    text-align: center;
}

.changeKeyboardButton {
    color: #191919;
    cursor: pointer;
    height: 40px;
    width: 250px;
    font-size: 14px;
    white-space: nowrap;

    @media (min-width: 576px) {
        height: 40px;
        width: 350px;
        font-size: 20px;
    }
}

.qwertyContainer .letterSize {
    font-size: 16px;
    @media (min-width: 576px) {
        font-size: 25px;
    }
    @media (min-width: 768px) {
        font-size: 30px;
    }
}

.qwertyContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 12px;

    & .qwertyPart1, & .qwertyPart2, & .qwertyPart3, & .latinLetters {
        &.letter {
            font-size: 18px;
        }
        padding: 5px 0px;
        grid-auto-rows: var(--query-layout-width);
        grid-gap: 8px;
        grid-template-columns: repeat(10, var(--query-layout-width));
    }
    & .qwertyPart2 {
        grid-template-columns: repeat(9, var(--query-layout-width));
        padding-right: 15px;
    }
    & .qwertyPart3 {
        grid-template-columns: repeat(7, var(--query-layout-width));
        padding-right: 60px;
        padding-bottom: 15px;
    }
    $ .latinLetters {
        grid-template-columns: repeat(9, var(--query-layout-width));

    }

    @media (min-width: 576px) {
        --query-layout-width: 43px;
        & .qwertyPart1, & .qwertyPart2, & .qwertyPart3, & .latinLetters {
            grid-gap: 12px;
            & .letter {
                font-size: 25px;
            }
        }
        & .qwertyPart3 {
            padding-right: 70px;
        }
    }

    @media (min-width: 768px) {
        --query-layout-width: 50px;
        & .qwertyPart1, & .qwertyPart2, & .qwertyPart3, & .latinLetters {
            & .letter {
                font-size: 30px;
            }
        }
    }
}
